{{ define "main" }} <!-- SAME AS page/single.html... FIX DUIPLICATES -->
<h1 class="wiki-title">
    {{ if .Params.header }}
      {{ .Params.header }}
    {{ else }}
      {{ partial "title" . }}
    {{ end }}
  </h1>
<article class="markdown book-post">
  {{- .Content -}}
  <br>
</article>
{{ partial "see-also" . }}
{{ end }}

{{ define "footer" }}
<!-- Do nothing, effectively removing the footer -->
{{ end }}

{{ define "comments" }}
<!-- Do nothing, effectively removing the comments -->
{{ end }}